
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Cronom.Web.Models.NewUserViewModel

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="/Manager">Dashboard</a></li>
        <li>Extras</li>
    </ol>
    <h1>Öğrenci Ekle</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Kayıt Bilgilerini Giriniz</h4>
                    <div class="options">
                    </div>
                </div>
                @using (Html.BeginForm("New", "Manager", FormMethod.Post, new { @class = "form-horizontal row-border", role = "form" }))
                {
                    <div class="panel-body">
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ad Soyad</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Ad Soyad" })
                                @Html.ValidationMessageFor(m => m.FullName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kullanıcı Adı</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Öğrenci Numarası" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Şifre</label>
                            <div class="col-sm-6">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <input type="submit" class="btn btn-primary" value="Kaydet" />
                                    <input type="reset" class="btn btn-default" value="Temizle" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


